body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  text-align: center;

  background-image: url("images/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  display: none;
  max-width: 500px;
  padding: 25px;
  border-radius: 20px;

  background: rgba(0, 0, 0, 0.45);  /* transparent */
  backdrop-filter: blur(6px);       /* glass effect */
}

.screen.active {
  display: block;
}

button {
  padding: 12px 25px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.screen.active {
  display: block;
}

button {
  padding: 12px 25px;
  margin-top: 20px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.yes {
  background: #2ecc71;
  color: white;
}

.no {
  background: #e74c3c;
  color: white;
}

.gallery img {
  width: 120px;
  border-radius: 10px;
  margin: 10px;
}

.letter {
  font-size: 18px;
  line-height: 1.6;
}

.photo {
  display: inline-block;
  cursor: pointer;
}

.photo img {
  width: 130px;
  border-radius: 12px;
  margin: 10px;
  transition: transform 0.3s;
}

.photo img:hover {
  transform: scale(1.05);
}

#photoMessage {
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
  min-height: 30px;
}

